.App {
  text-align: center;
  background-color: white;
  position: absolute;
  min-height: 100%;
  width: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}